## Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env

## Node
node_modules/
dist/
build/

## VSCode
.vscode/

## OS
.DS_Store
Thumbs.db

## Misc
*.log
package-lock.json

## Local machine learning artifacts
backend/yolov8n.pt
backend/app/static/output_videos/
backend/app/temp/
